@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="#" onclick="window.location = '/?mode=server'" class="ml-md-auto">Enable Server</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
